---
---

.post-date {
  font-weight: 400;
  font-size: .75em;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.panel {
     padding: 15px;
     margin-bottom: 20px;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
     box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}
  
.panel-heading {
     padding: 10px 15px;
     margin: -15px -15px 15px;
     background-color: #f5f5f5;
     border-bottom: 1px solid #ddd;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px
}
  
.panel-title {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 17.5px;
     font-weight: 500
}
  
.panel-footer {
     padding: 10px 15px;
     margin: 15px -15px -15px;
     background-color: #f5f5f5;
     border-top: 1px solid #ddd;
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px
}
  
.panel-primary {
     border-color: #428bca
}
  
.panel-primary .panel-heading {
     color: #fff;
     background-color: #428bca;
     border-color: #428bca
}
  
.panel-success {
     border-color: #d6e9c6
}
  
.panel-success .panel-heading {
     color: #468847;
     background-color: #dff0d8;
     border-color: #d6e9c6
}
  
.panel-warning {
     border-color: #fbeed5
}
  
.panel-warning .panel-heading {
     color: #c09853;
     background-color: #fcf8e3;
     border-color: #fbeed5
}
  
.panel-danger {
     border-color: #eed3d7
}
  
.panel-danger .panel-heading {
     color: #b94a48;
     background-color: #f2dede;
     border-color: #eed3d7
}
  
.panel-info {
     border-color: #bce8f1
}
  
.panel-info .panel-heading {
     color: #3a87ad;
     background-color: #d9edf7;
     border-color: #bce8f1
}

.image-caption {
     text-align: center;
     font-size: .8rem;
     color: light-grey;
}

.alert, .callout {
    overflow: hidden;
}

div.alert code, h2 code {
    background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
    text-decoration: underline;
}

.note code, .alert code, .warning code, div#toc code, h2 code, h3 code, h4 code {
    color: inherit;
    padding: 0px;
}

.alert {
  padding: 15px;
  margin-bottom:10px;
  margin-top:10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #444;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}
